.title-col{
    display: flex !important; 
    justify-content: center !important;

    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    color: #1f1f1f;
}

body{
    background-color: #F0EDEE !important;
}