
.secondary-nav{
    margin-left: 10%;
    margin-right: 10%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sec-nav-link{
    background-color: #f7f7f7;
    padding: 1%;
    border-radius: 15px;
    box-shadow: -3px 5px 4px 0px #2e2e2e15;
    width: 20%;
    text-align: center;

    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
}

.sec-nav-link:hover{
    cursor: pointer;
    box-shadow: -3px 5px 4px 0px #2E2E2E40;
}

.sec-nav-link:active{
    box-shadow: inset -3px 5px 4px 0px #2E2E2E40;
}